@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");
:root {
  --background-color: #fff;
  --text-color: #444; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important; }

*:focus {
  outline: none; }

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--text-color); }
  body::-webkit-scrollbar-track {
    background-color: #f1f4f6;
    border-radius: 10px; }
  body::-webkit-scrollbar {
    width: 15px;
    background-color: #f1f4f6; }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2a3ba4; }
  @media (max-width: 991px) {
    body.sidebar-open {
      overflow: hidden !important; } }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

img {
  border: none;
  outline: none;
  max-width: 100%;
  vertical-align: middle; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  border: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #06c;
  text-decoration: none; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: var(--text-color); }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 600;
  line-height: 1;
  color: #fff; }

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%; }

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%; }

.h1,
h1 {
  font-size: 36px; }

.h2,
h2 {
  font-size: 30px; }

.h3,
h3 {
  font-size: 24px; }

.h4,
h4 {
  font-size: 18px; }

.h5,
h5 {
  font-size: 14px; }

.h6,
h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin-bottom: 15px; }

h5,
h5 {
  margin-bottom: 10px; }

img {
  border: none;
  outline: none;
  max-width: 100%; }

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%; }

a,
.btn,
button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

a img,
iframe {
  border: none; }

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee; }

img {
  vertical-align: middle; }

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143; }

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: inherit; }

ul {
  margin: 0;
  list-style-type: none; }

input {
  border-radius: inherit;
  box-shadow: inherit; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

table {
  background-color: transparent; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

td,
th {
  padding: 0; }

th {
  text-align: left; }

small,
.small {
  font-size: 85%; }

h2.heading-margin-default {
  margin-top: 16.6px;
  margin-bottom: 16.6px; }

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 29px !important; }
    h1.fs-sm-on-m,
    .h1.fs-sm-on-m {
      font-size: 20px !important; }
  h2,
  .h2 {
    font-size: 25px !important; }
    h2.fs-sm-on-m,
    .h2.fs-sm-on-m {
      font-size: 18px !important; }
  h3,
  .h3 {
    font-size: 20px !important; }
    h3.fs-sm-on-m,
    .h3.fs-sm-on-m {
      font-size: 15px !important; }
  h4,
  .h4 {
    font-size: 18px !important;
    line-height: 1.4 !important; }
    h4.fs-sm-on-m,
    .h4.fs-sm-on-m {
      font-size: 13px !important; }
  h5,
  h6,
  .h5,
  .h6 {
    font-size: 14px !important;
    line-height: 1.4 !important; }
    h5.fs-sm-on-m,
    h6.fs-sm-on-m,
    .h5.fs-sm-on-m,
    .h6.fs-sm-on-m {
      font-size: 12px !important; } }

ol {
  padding-left: 20px;
  margin-left: 14px; }
  ol li {
    margin-bottom: 7px; }

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.op-0 {
  opacity: 0; }

.jwswal-overlay {
  -webkit-backdrop-filter: saturate(100%) blur(3px);
  -moz-backdrop-filter: saturate(100%) blur(3px);
  -ms-backdrop-filter: saturate(100%) blur(3px);
  backdrop-filter: saturate(100%) blur(3px); }

.p-absolute {
  position: absolute; }

.text-center {
  text-align: center !important; }

.d-inline-block {
  display: inline-block !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.mb-8 {
  margin-bottom: 2rem !important; }

.bg-light-2 {
  background: #f2f2f2; }

.bg-light-3 {
  background: #f8f8f8; }

.frame-image {
  padding: 5px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5);
  box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5); }

.bg-footer {
  background: #fff;
  background-color: #fff; }
  .bg-footer * {
    color: #fff; }

.default-padding-top {
  padding-top: 80px !important; }

.default-padding-top-small {
  padding-top: 40px !important; }

.default-padding-bottom {
  padding-bottom: 80px !important; }

.default-padding-bottom-small {
  padding-bottom: 40px !important; }

.default-padding {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.default-padding-small {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

@media (min-width: 992px) {
  .default-padding-small-medium {
    padding-top: 40px !important;
    padding-bottom: 40px !important; } }

@media (min-width: 992px) {
  .default-padding-top-small-medium {
    padding-top: 40px !important; } }

.f-right {
  float: right; }
  .f-right.important {
    float: right !important; }

.f-left {
  float: left; }
  .f-left .important {
    float: left !important; }

.fx {
  flex: 1;
  min-width: 1px; }

.no-marginx {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.visible-s {
  display: none !important; }
  @media (max-width: 992px) {
    .visible-s {
      display: block !important; } }

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse !important;
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-grow {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; }

.p-6 {
  padding: 1.5rem !important; }

.p-4 {
  padding: 1rem !important; }

.px-4 {
  padding: 0 1rem !important; }

.m-1 {
  margin: 0.25rem !important; }

.m-4 {
  margin: 1rem !important; }

.mr-4 {
  margin-right: 1rem !important; }

.ml-4 {
  margin-left: 1rem !important; }

.ml-8 {
  margin-left: 2rem !important; }

.mb-4 {
  margin-bottom: 1rem !important; }

.mb-12 {
  margin-bottom: 3rem !important; }
  @media (max-width: 767px) {
    .mb-12-small {
      margin-bottom: 3rem !important; } }
  @media (max-width: 991px) {
    .mb-12-medium {
      margin-bottom: 3rem !important; } }

.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important; }

.p-6 {
  padding: 1.5rem !important; }

.pol-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mt-4 {
  margin-top: 1rem !important; }

.d-none {
  display: none !important; }

.no-transition {
  transition: none !important;
  transition-duration: 0s !important; }

.mt-6 {
  margin-top: 1.5rem !important; }

.text-5xl {
  font-size: 3rem !important; }

.ov-unset {
  overflow: unset !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.d-block,
#d-block {
  display: block !important; }

.hiddendiv {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 1.2rem;
  position: absolute;
  top: 0;
  z-index: -1; }

.ov-x-auto {
  overflow-x: auto !important; }

.ov-hidden {
  overflow: hidden !important; }

.relative {
  position: relative !important; }

.justify-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.no-padding {
  padding: 0 !important; }

.full-width {
  width: 100% !important; }

.no-margin {
  margin: 0 !important; }

.cursor-pointer {
  cursor: pointer !important; }

.text-uppercase {
  text-transform: uppercase; }

.flex-between {
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  align-items: center; }

.mb-0 {
  margin-bottom: 0 !important; }

.justify-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

@media (max-width: 767px) {
  .justify-center-sm {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; } }

.fw-900 {
  font-weight: 900 !important; }

.fw-800 {
  font-weight: 800 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-400 {
  font-weight: 400 !important; }

.radius-small {
  border-radius: 5px; }

.all-color-white {
  color: #fff; }
  .all-color-white * {
    color: #fff; }

.l-f {
  position: absolute;
  top: -9000px;
  left: -9000px; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.show-m {
  display: none !important; }

@media (max-width: 767px) {
  .hide-m {
    display: none !important; }
  .show-m {
    display: block !important; } }

.type-disc {
  list-style: disc; }

/*.bg-greengradient2 {
    background: -webkit-gradient(to right, darken($primary, 10%), $primary) !important;
    background: linear-gradient(to right, darken($primary, 10%), $primary) !important;
}


.bg-greenlt {
    background: lighten($primary, 50%);
}

.bg-greengradient3 {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}*/
.full-width-child-img {
  width: 100%; }
  .full-width-child-img img {
    width: 100%; }

.lazy,
.animateshimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%; }

@keyframes shimmer {
  0% {
    background-position: -1000px 0; }
  100% {
    background-position: 1000px 0; } }

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.logo-link:hover img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.app {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  line-height: 1.5; }
  .app-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative; }
  .app-container {
    background: #f1f4f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
  .app-sidebar {
    z-index: 20;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    -webkit-box-shadow: 5px 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 60px 0 0;
    background: #2a3ba4; }
    @media (max-width: 991px) {
      .app-sidebar {
        padding: 80px 0 0; } }
    .app-sidebar-logo {
      padding: 0 1.5rem;
      padding-top: 10px;
      height: 60px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 0; }
      .app-sidebar-logo img {
        height: 50px;
        max-width: none;
        width: auto; }
    .app-sidebar-btn {
      margin-left: auto; }
    .app-sidebar-content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%; }
    .app-sidebar-list {
      width: 100%;
      padding: 0 1.5rem 1.5rem; }
    .app-sidebar-item {
      position: relative;
      display: block;
      padding: 0.1rem 0; }
      .app-sidebar-item a {
        display: block;
        line-height: 2.4rem;
        height: 2.4rem;
        padding: 0 1.5rem 0 15px;
        position: relative;
        border-radius: 0.25rem;
        color: #f5f5f5;
        white-space: nowrap;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-decoration: none; }
        .app-sidebar-item a:hover {
          background: rgba(93, 109, 205, 0.3);
          color: #fff; }
      .app-sidebar-item i:first-child, .app-sidebar-item-arrow {
        text-align: center;
        width: 34px;
        height: 34px;
        line-height: 34px;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        font-size: 1.5rem;
        opacity: 0.5; }
      .app-sidebar-item-title {
        white-space: nowrap;
        position: relative; }
      .app-sidebar-item:after {
        content: "";
        display: block;
        clear: both; }
      .app-sidebar-item.active > a {
        background: rgba(93, 109, 205, 0.3);
        color: #fff; }
      .app-sidebar-item.parent-active > a, .app-sidebar-item.active > a {
        font-weight: 600; }
      .app-sidebar-item.open > a {
        font-weight: 600; }
        .app-sidebar-item.open > a .app-sidebar-item-arrow {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
      .app-sidebar-item-arrow {
        right: 5px;
        font-style: normal;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 0.8em;
        opacity: 0.6; }
      .app-sidebar-item > div {
        position: relative;
        display: none; }
        .app-sidebar-item > div:before {
          content: "";
          height: 100%;
          opacity: 1;
          width: 3px;
          background: rgba(58, 77, 189, 0.3);
          position: absolute;
          left: 20px;
          top: 0;
          border-radius: 15px; }
        .app-sidebar-item > div > ul {
          padding: 0.75rem 0 0.75rem 1.8rem; }
          .app-sidebar-item > div > ul a {
            padding: 0 1rem;
            height: 2.1rem;
            line-height: 2.1rem; }
    .app-sidebar-overlay {
      width: 100vh;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      -webkit-backdrop-filter: saturate(100%) blur(5px);
      -moz-backdrop-filter: saturate(100%) blur(5px);
      -ms-backdrop-filter: saturate(100%) blur(5px);
      backdrop-filter: saturate(100%) blur(5px);
      z-index: 19;
      display: none;
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn; }
      @media (min-width: 992px) {
        .app-sidebar-overlay {
          display: none !important; } }
  .app.closed-sidebar .app-sidebar {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .app.closed-sidebar .app-header {
    margin-left: 0;
    width: 100%; }
  .app.closed-sidebar .app-main-outer {
    padding-left: 0; }
  @media (max-width: 991px) {
    .app.closed-sidebar .app-sidebar-overlay {
      display: block !important; } }
  @media (max-width: 991px) {
    .app .app-sidebar {
      -webkit-transform: translateX(-300px) !important;
      transform: translateX(-300px) !important; }
      .app .app-sidebar.open {
        -webkit-transform: translate(0) !important;
        transform: translate(0) !important; }
    .app .app-header {
      margin-left: 0 !important;
      width: 100% !important; } }
  .app-sidebar,
  .app-sidebar .app-sidebar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px; }

.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  margin-top: 5px; }
  .hamburger-box {
    width: 24px;
    height: 14px;
    display: inline-block;
    position: relative; }
  .hamburger-inner {
    display: block;
    top: 1px;
    -webkit-transition-duration: 0.275s;
    transition-duration: 0.275s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: -1px; }
    .hamburger-inner:before, .hamburger-inner:after {
      content: "";
      display: block; }
    .hamburger-inner:before {
      top: 6px;
      -webkit-transition: opacity 0.125s ease 0.275s;
      transition: opacity 0.125s ease 0.275s; }
    .hamburger-inner:after {
      top: 12px;
      -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      bottom: -6px; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 24px;
    height: 2px;
    background-color: #2a3ba4;
    border-radius: 10px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 6px, 0) rotate(135deg);
    transform: translate3d(0, 6px, 0) rotate(135deg);
    -webkit-transition-delay: 75ms;
    transition-delay: 75ms; }
    .hamburger.is-active .hamburger-inner:before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      opacity: 0; }
    .hamburger.is-active .hamburger-inner:after {
      -webkit-transform: translate3d(0, -12px, 0) rotate(-270deg);
      transform: translate3d(0, -12px, 0) rotate(-270deg);
      -webkit-transition-delay: 75ms;
      transition-delay: 75ms; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      max-width: 750px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1080px; } }
  .container:before {
    content: " ";
    display: table; }
  .container:after {
    content: " ";
    display: table;
    clear: both; }

.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row.no-margin {
    margin: 0 !important; }
  .row:before, .row:after {
    display: table;
    content: " "; }
  .row:after {
    clear: both; }
  .row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .row.row-input > .label {
    width: 100%;
    float: left;
    vertical-align: middle;
    line-height: 2.6;
    display: inline-block;
    padding: 20px 10px 20px 0;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .row.row-input > .label {
        width: 25%; } }
  .row.row-input > .input-field {
    width: 100%;
    float: left; }
    @media (min-width: 992px) {
      .row.row-input > .input-field {
        width: 75%; } }

[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-1-of-1 {
  float: left;
  width: 100%; }

.col-1-of-2 {
  float: left;
  width: 50%; }

.col-2-point-4 {
  width: calc(100% / 2.4);
  float: left; }

.col-1-of-5 {
  width: calc(100% / 5);
  float: left; }

.col-2-of-5 {
  width: calc(100% / 5 * 2);
  float: left; }

.col-3-of-5 {
  width: calc(100% / 5 * 3);
  float: left; }

.col-4-of-5 {
  width: calc(100% / 5 * 4);
  float: left; }

@media (min-width: 768px) {
  .small-col-1-of-1 {
    float: left;
    width: 100%; } }

@media (min-width: 768px) {
  .small-col-1-of-2 {
    width: 50%;
    float: left; } }

@media (min-width: 768px) {
  .small-col-1-of-4 {
    width: calc(100% / 4);
    float: left; } }

@media (min-width: 768px) {
  .small-col-1-of-5 {
    width: calc(100% / 5);
    float: left; } }

@media (min-width: 768px) {
  .small-col-2-of-5 {
    width: calc(100% / 5 * 2);
    float: left; } }

@media (min-width: 768px) {
  .small-col-3-of-5 {
    width: calc(100% / 5 * 3);
    float: left; } }

@media (min-width: 768px) {
  .small-col-4-of-5 {
    width: calc(100% / 5 * 4);
    float: left; } }

@media (min-width: 768px) {
  .small-col-1-of-3 {
    width: calc(100% / 3);
    float: left; } }

@media (min-width: 768px) {
  .small-col-1-point-5 {
    width: calc(100% / 1.5);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-6-point-7 {
    width: 15%;
    float: left; } }
  @media (min-width: 992px) and (min-width: 992px) {
    .medium-col-6-point-7-important {
      width: 15% !important;
      float: left !important; } }

@media (min-width: 992px) {
  .medium-col-1-of-2 {
    width: 50%;
    float: left; } }

@media (min-width: 992px) {
  .medium-col-1-of-3 {
    width: calc(100% / 3);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-1-of-4 {
    width: calc(100% / 4);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-1-point-5 {
    width: calc(100% / 1.5);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-1-of-6 {
    width: calc(100% / 6);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-1-of-5 {
    width: calc(100% / 5);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-2-of-5 {
    width: calc(100% / 5 * 2);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-3-of-5 {
    width: calc(100% / 5 * 3);
    float: left; } }

@media (min-width: 992px) {
  .medium-col-4-of-5 {
    width: calc(100% / 5 * 4);
    float: left; } }

@media (min-width: 1200px) {
  .large-col-1-of-6 {
    width: calc(100% / 6);
    float: left; } }

@media (min-width: 1200px) {
  .large-col-1-of-5 {
    width: calc(100% / 5);
    float: left; } }

@media (min-width: 1200px) {
  .large-col-2-of-5 {
    width: calc(100% / 5 * 2);
    float: left; } }

@media (min-width: 1200px) {
  .large-col-3-of-5 {
    width: calc(100% / 5 * 3);
    float: left; } }

@media (min-width: 768px) {
  .large-col-4-of-5 {
    width: calc(100% / 5 * 4);
    float: left; } }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left; }

.rtl .rtl-columns-reverse .col-xs-1,
.rtl .rtl-columns-reverse .col-xs-10,
.rtl .rtl-columns-reverse .col-xs-11,
.rtl .rtl-columns-reverse .col-xs-12,
.rtl .rtl-columns-reverse .col-xs-2,
.rtl .rtl-columns-reverse .col-xs-3,
.rtl .rtl-columns-reverse .col-xs-4,
.rtl .rtl-columns-reverse .col-xs-5,
.rtl .rtl-columns-reverse .col-xs-6,
.rtl .rtl-columns-reverse .col-xs-7,
.rtl .rtl-columns-reverse .col-xs-8,
.rtl .rtl-columns-reverse .col-xs-9 {
  float: right; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left; }
  .rtl .rtl-columns-reverse .col-sm-1,
  .rtl .rtl-columns-reverse .col-sm-10,
  .rtl .rtl-columns-reverse .col-sm-11,
  .rtl .rtl-columns-reverse .col-sm-12,
  .rtl .rtl-columns-reverse .col-sm-2,
  .rtl .rtl-columns-reverse .col-sm-3,
  .rtl .rtl-columns-reverse .col-sm-4,
  .rtl .rtl-columns-reverse .col-sm-5,
  .rtl .rtl-columns-reverse .col-sm-6,
  .rtl .rtl-columns-reverse .col-sm-7,
  .rtl .rtl-columns-reverse .col-sm-8,
  .rtl .rtl-columns-reverse .col-sm-9 {
    float: right; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left; }
  .rtl .rtl-columns-reverse .col-md-1,
  .rtl .rtl-columns-reverse .col-md-10,
  .rtl .rtl-columns-reverse .col-md-11,
  .rtl .rtl-columns-reverse .col-md-12,
  .rtl .rtl-columns-reverse .col-md-2,
  .rtl .rtl-columns-reverse .col-md-3,
  .rtl .rtl-columns-reverse .col-md-4,
  .rtl .rtl-columns-reverse .col-md-5,
  .rtl .rtl-columns-reverse .col-md-6,
  .rtl .rtl-columns-reverse .col-md-7,
  .rtl .rtl-columns-reverse .col-md-8,
  .rtl .rtl-columns-reverse .col-md-9 {
    float: right; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
    .col-md-3-add-half {
      width: 29.16666666666667%;
      float: left; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-1-half {
    width: 4.166666666666667%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left; }
  .rtl .rtl-columns-reverse .col-lg-1,
  .rtl .rtl-columns-reverse .col-lg-10,
  .rtl .rtl-columns-reverse .col-lg-11,
  .rtl .rtl-columns-reverse .col-lg-12,
  .rtl .rtl-columns-reverse .col-lg-2,
  .rtl .rtl-columns-reverse .col-lg-3,
  .rtl .rtl-columns-reverse .col-lg-4,
  .rtl .rtl-columns-reverse .col-lg-5,
  .rtl .rtl-columns-reverse .col-lg-6,
  .rtl .rtl-columns-reverse .col-lg-7,
  .rtl .rtl-columns-reverse .col-lg-8,
  .rtl .rtl-columns-reverse .col-lg-9 {
    float: right; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.app-main-outer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 8;
  padding: 0 0 0 280px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media (max-width: 991px) {
    .app-main-outer {
      padding-left: 0 !important; } }

.app-main-inner {
  padding: 30px 30px 0;
  -webkit-box-flex: 1;
  position: relative;
  -ms-flex: 1;
  flex: 1; }
  @media (max-width: 991px) {
    .app-main-inner {
      padding: 30px 15px 0; } }

.app-footer {
  height: 50px; }
  .app-footer-inner {
    padding: 0 1.5rem 0 0.75rem;
    height: 50px;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fafbfc; }
  .app-footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.nav-btn {
  position: sticky;
  left: 10px;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -10px;
  z-index: 10;
  margin-left: -10px; }

@media (max-width: 480px) {
  .pg-container {
    padding: 0; } }

.step-img {
  box-shadow: 0 0 40px rgba(20, 20, 20, 0.2); }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin-top: 15px; }
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }

.app-main-inner ul li {
  margin-bottom: 10px; }
