@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");
:root {
  --background-color: #fff;
  --text-color: #444; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important; }

*:focus {
  outline: none; }

html {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #fff; }
  html.page-when-header-mobile-nav-open body {
    overflow: hidden; }
  html.lod-prg,
  html.lod-prg body {
    overflow: hidden !important; }
  html.lod-prg #page {
    display: none; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-y: visible;
  overflow-x: visible;
  color: var(--text-color); }
  body::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    border-radius: 10px; }
  body::-webkit-scrollbar {
    width: 15px;
    background-color: var(--bg-color); }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-5); }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

img {
  border: none;
  outline: none;
  max-width: 100%;
  vertical-align: middle; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  border: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #06c;
  text-decoration: none; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: var(--text-color); }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 600;
  line-height: 1;
  color: #fff; }

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%; }

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%; }

.h1,
h1 {
  font-size: 36px; }

.h2,
h2 {
  font-size: 30px; }

.h3,
h3 {
  font-size: 24px; }

.h4,
h4 {
  font-size: 18px; }

.h5,
h5 {
  font-size: 14px; }

.h6,
h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.2;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin-bottom: 15px; }

h5,
h5 {
  margin-bottom: 10px; }

img {
  border: none;
  outline: none;
  max-width: 100%; }

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%; }

a,
.btn,
button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

a img,
iframe {
  border: none; }

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee; }

img {
  vertical-align: middle; }

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143; }

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: inherit; }

ul {
  margin: 0;
  list-style-type: none; }

input {
  border-radius: inherit;
  box-shadow: inherit; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

table {
  background-color: transparent; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

td,
th {
  padding: 0; }

th {
  text-align: left; }

small,
.small {
  font-size: 85%; }

h2.heading-margin-default {
  margin-top: 16.6px;
  margin-bottom: 16.6px; }

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 29px !important; }
    h1.fs-sm-on-m,
    .h1.fs-sm-on-m {
      font-size: 20px !important; }
  h2,
  .h2 {
    font-size: 25px !important; }
    h2.fs-sm-on-m,
    .h2.fs-sm-on-m {
      font-size: 18px !important; }
  h3,
  .h3 {
    font-size: 20px !important; }
    h3.fs-sm-on-m,
    .h3.fs-sm-on-m {
      font-size: 15px !important; }
  h4,
  .h4 {
    font-size: 18px !important;
    line-height: 1.4 !important; }
    h4.fs-sm-on-m,
    .h4.fs-sm-on-m {
      font-size: 13px !important; }
  h5,
  h6,
  .h5,
  .h6 {
    font-size: 14px !important;
    line-height: 1.4 !important; }
    h5.fs-sm-on-m,
    h6.fs-sm-on-m,
    .h5.fs-sm-on-m,
    .h6.fs-sm-on-m {
      font-size: 12px !important; } }

ol {
  padding-left: 20px;
  margin-left: 14px; }
  ol li {
    margin-bottom: 7px; }

.app {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  line-height: 1.5; }
  .app-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative; }
  .app-container {
    background: #f1f4f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
  .app-sidebar {
    z-index: 20;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    -webkit-box-shadow: 5px 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 60px 0 0;
    background: #2a3ba4; }
    @media (max-width: 991px) {
      .app-sidebar {
        padding: 80px 0 0; } }
    .app-sidebar-logo {
      padding: 0 1.5rem;
      padding-top: 10px;
      height: 60px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 0; }
      .app-sidebar-logo img {
        height: 50px;
        max-width: none;
        width: auto; }
    .app-sidebar-btn {
      margin-left: auto; }
    .app-sidebar-content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%; }
    .app-sidebar-list {
      width: 100%;
      padding: 0 1.5rem 1.5rem; }
    .app-sidebar-item {
      position: relative;
      display: block;
      padding: 0.1rem 0; }
      .app-sidebar-item a {
        display: block;
        line-height: 2.4rem;
        height: 2.4rem;
        padding: 0 1.5rem 0 15px;
        position: relative;
        border-radius: 0.25rem;
        color: #f5f5f5;
        white-space: nowrap;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-decoration: none; }
        .app-sidebar-item a:hover {
          background: rgba(93, 109, 205, 0.3);
          color: #fff; }
      .app-sidebar-item i:first-child, .app-sidebar-item-arrow {
        text-align: center;
        width: 34px;
        height: 34px;
        line-height: 34px;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        font-size: 1.5rem;
        opacity: 0.5; }
      .app-sidebar-item-title {
        white-space: nowrap;
        position: relative; }
      .app-sidebar-item:after {
        content: "";
        display: block;
        clear: both; }
      .app-sidebar-item.active > a {
        background: rgba(58, 77, 189, 0.3);
        color: #253490; }
      .app-sidebar-item.parent-active > a, .app-sidebar-item.active > a {
        font-weight: 600; }
      .app-sidebar-item.open > a {
        font-weight: 600; }
        .app-sidebar-item.open > a .app-sidebar-item-arrow {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
      .app-sidebar-item-arrow {
        right: 5px;
        font-style: normal;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 0.8em;
        opacity: 0.6; }
      .app-sidebar-item > div {
        position: relative;
        display: none; }
        .app-sidebar-item > div:before {
          content: "";
          height: 100%;
          opacity: 1;
          width: 3px;
          background: rgba(58, 77, 189, 0.3);
          position: absolute;
          left: 20px;
          top: 0;
          border-radius: 15px; }
        .app-sidebar-item > div > ul {
          padding: 0.75rem 0 0.75rem 2.25rem; }
          .app-sidebar-item > div > ul a {
            padding: 0 1rem;
            height: 2.1rem;
            line-height: 2.1rem; }
    .app-sidebar-overlay {
      width: 100vh;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      -webkit-backdrop-filter: saturate(100%) blur(5px);
      -moz-backdrop-filter: saturate(100%) blur(5px);
      -ms-backdrop-filter: saturate(100%) blur(5px);
      backdrop-filter: saturate(100%) blur(5px);
      z-index: 19;
      display: none; }
      @media (min-width: 992px) {
        .app-sidebar-overlay {
          display: none !important; } }
  .app.closed-sidebar .app-sidebar {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .app.closed-sidebar .app-header {
    margin-left: 0;
    width: 100%; }
  .app.closed-sidebar .app-main-outer {
    padding-left: 0; }
  @media (max-width: 991px) {
    .app.closed-sidebar .app-sidebar-overlay {
      display: block !important; } }
  @media (max-width: 991px) {
    .app .app-sidebar {
      -webkit-transform: translateX(-300px) !important;
      transform: translateX(-300px) !important; }
      .app .app-sidebar.open {
        -webkit-transform: translate(0) !important;
        transform: translate(0) !important; }
    .app .app-header {
      margin-left: 0 !important;
      width: 100% !important; } }
  .app-sidebar,
  .app-sidebar .app-sidebar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px; }

.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  margin-top: 5px; }
  .hamburger-box {
    width: 24px;
    height: 14px;
    display: inline-block;
    position: relative; }
  .hamburger-inner {
    display: block;
    top: 1px;
    -webkit-transition-duration: 0.275s;
    transition-duration: 0.275s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: -1px; }
    .hamburger-inner:before, .hamburger-inner:after {
      content: "";
      display: block; }
    .hamburger-inner:before {
      top: 6px;
      -webkit-transition: opacity 0.125s ease 0.275s;
      transition: opacity 0.125s ease 0.275s; }
    .hamburger-inner:after {
      top: 12px;
      -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      bottom: -6px; }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    width: 24px;
    height: 2px;
    background-color: #2a3ba4;
    border-radius: 10px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 6px, 0) rotate(135deg);
    transform: translate3d(0, 6px, 0) rotate(135deg);
    -webkit-transition-delay: 75ms;
    transition-delay: 75ms; }
    .hamburger.is-active .hamburger-inner:before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      opacity: 0; }
    .hamburger.is-active .hamburger-inner:after {
      -webkit-transform: translate3d(0, -12px, 0) rotate(-270deg);
      transform: translate3d(0, -12px, 0) rotate(-270deg);
      -webkit-transition-delay: 75ms;
      transition-delay: 75ms; }

.app-main-outer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 8;
  padding: 0 0 0 280px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media (max-width: 991px) {
    .app-main-outer {
      padding-left: 0 !important; } }

.app-main-inner {
  padding: 30px 30px 0;
  -webkit-box-flex: 1;
  position: relative;
  -ms-flex: 1;
  flex: 1; }
  @media (max-width: 991px) {
    .app-main-inner {
      padding: 30px 15px 0; } }

.app-footer {
  height: 50px; }
  .app-footer-inner {
    padding: 0 1.5rem 0 0.75rem;
    height: 50px;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fafbfc; }
  .app-footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.nav-btn {
  position: absolute;
  left: 10px;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
