.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 992px) {
    max-width: 970px;
  }

  @media (min-width: 1200px) {
    max-width: 1080px;
  }

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;

  &.no-margin {
    margin: 0 !important;
  }

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

  &.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &.row-input {
    & > .label {
      width: 100%;
      float: left;
      vertical-align: middle;
      line-height: 2.6;
      display: inline-block;
      padding: 20px 10px 20px 0;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      text-transform: uppercase;

      @media (min-width: 992px) {
        width: 25%;
      }
    }

    & > .input-field {
      width: 100%;
      float: left;

      @media (min-width: 992px) {
        width: 75%;
      }
    }
  }
}

[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1-of-1 {
  float: left;
  width: 100%;
}

.col-1-of-2 {
  float: left;
  width: 50%;
}

.col-2-point-4 {
  width: calc(100% / 2.4);
  float: left;
}

.col-1-of-5 {
  width: calc(100% / 5);
  float: left;
}

.col-2-of-5 {
  width: calc(100% / 5 * 2);
  float: left;
}

.col-3-of-5 {
  width: calc(100% / 5 * 3);
  float: left;
}

.col-4-of-5 {
  width: calc(100% / 5 * 4);
  float: left;
}

.small-col-1-of-1 {
  @media (min-width: 768px) {
    float: left;
    width: 100%;
  }
}

.small-col-1-of-2 {
  @media (min-width: 768px) {
    width: 50%;
    float: left;
  }
}

.small-col-1-of-4 {
  @media (min-width: 768px) {
    width: calc(100% / 4);
    float: left;
  }
}

.small-col-1-of-5 {
  @media (min-width: 768px) {
    width: calc(100% / 5);
    float: left;
  }
}

.small-col-2-of-5 {
  @media (min-width: 768px) {
    width: calc(100% / 5 * 2);
    float: left;
  }
}

.small-col-3-of-5 {
  @media (min-width: 768px) {
    width: calc(100% / 5 * 3);
    float: left;
  }
}

.small-col-4-of-5 {
  @media (min-width: 768px) {
    width: calc(100% / 5 * 4);
    float: left;
  }
}

.small-col-1-of-3 {
  @media (min-width: 768px) {
    width: calc(100% / 3);
    float: left;
  }
}

.small-col-1-point-5 {
  @media (min-width: 768px) {
    width: calc(100% / 1.5);
    float: left;
  }
}

.medium-col-6-point-7 {
  @media (min-width: 992px) {
    width: 15%;
    float: left;

    &-important {
      @media (min-width: 992px) {
        width: 15% !important;
        float: left !important;
      }
    }
  }
}

.medium-col-1-of-2 {
  @media (min-width: 992px) {
    width: 50%;
    float: left;
  }
}

.medium-col-1-of-3 {
  @media (min-width: 992px) {
    width: calc(100% / 3);
    float: left;
  }
}

.medium-col-1-of-4 {
  @media (min-width: 992px) {
    width: calc(100% / 4);
    float: left;
  }
}

.medium-col-1-point-5 {
  @media (min-width: 992px) {
    width: calc(100% / 1.5);
    float: left;
  }
}

.medium-col-1-of-6 {
  @media (min-width: 992px) {
    width: calc(100% / 6);
    float: left;
  }
}

.medium-col-1-of-5 {
  @media (min-width: 992px) {
    width: calc(100% / 5);
    float: left;
  }
}

.medium-col-2-of-5 {
  @media (min-width: 992px) {
    width: calc(100% / 5 * 2);
    float: left;
  }
}

.medium-col-3-of-5 {
  @media (min-width: 992px) {
    width: calc(100% / 5 * 3);
    float: left;
  }
}

.medium-col-4-of-5 {
  @media (min-width: 992px) {
    width: calc(100% / 5 * 4);
    float: left;
  }
}

.large-col-1-of-6 {
  @media (min-width: 1200px) {
    width: calc(100% / 6);
    float: left;
  }
}

.large-col-1-of-5 {
  @media (min-width: 1200px) {
    width: calc(100% / 5);
    float: left;
  }
}

.large-col-2-of-5 {
  @media (min-width: 1200px) {
    width: calc(100% / 5 * 2);
    float: left;
  }
}

.large-col-3-of-5 {
  @media (min-width: 1200px) {
    width: calc(100% / 5 * 3);
    float: left;
  }
}

.large-col-4-of-5 {
  @media (min-width: 768px) {
    width: calc(100% / 5 * 4);
    float: left;
  }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.rtl .rtl-columns-reverse .col-xs-1,
.rtl .rtl-columns-reverse .col-xs-10,
.rtl .rtl-columns-reverse .col-xs-11,
.rtl .rtl-columns-reverse .col-xs-12,
.rtl .rtl-columns-reverse .col-xs-2,
.rtl .rtl-columns-reverse .col-xs-3,
.rtl .rtl-columns-reverse .col-xs-4,
.rtl .rtl-columns-reverse .col-xs-5,
.rtl .rtl-columns-reverse .col-xs-6,
.rtl .rtl-columns-reverse .col-xs-7,
.rtl .rtl-columns-reverse .col-xs-8,
.rtl .rtl-columns-reverse .col-xs-9 {
  float: right;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .rtl .rtl-columns-reverse .col-sm-1,
  .rtl .rtl-columns-reverse .col-sm-10,
  .rtl .rtl-columns-reverse .col-sm-11,
  .rtl .rtl-columns-reverse .col-sm-12,
  .rtl .rtl-columns-reverse .col-sm-2,
  .rtl .rtl-columns-reverse .col-sm-3,
  .rtl .rtl-columns-reverse .col-sm-4,
  .rtl .rtl-columns-reverse .col-sm-5,
  .rtl .rtl-columns-reverse .col-sm-6,
  .rtl .rtl-columns-reverse .col-sm-7,
  .rtl .rtl-columns-reverse .col-sm-8,
  .rtl .rtl-columns-reverse .col-sm-9 {
    float: right;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .rtl .rtl-columns-reverse .col-md-1,
  .rtl .rtl-columns-reverse .col-md-10,
  .rtl .rtl-columns-reverse .col-md-11,
  .rtl .rtl-columns-reverse .col-md-12,
  .rtl .rtl-columns-reverse .col-md-2,
  .rtl .rtl-columns-reverse .col-md-3,
  .rtl .rtl-columns-reverse .col-md-4,
  .rtl .rtl-columns-reverse .col-md-5,
  .rtl .rtl-columns-reverse .col-md-6,
  .rtl .rtl-columns-reverse .col-md-7,
  .rtl .rtl-columns-reverse .col-md-8,
  .rtl .rtl-columns-reverse .col-md-9 {
    float: right;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;

    &-add-half {
      width: 29.16666666666667%;
      float: left;
    }
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-1-half {
    width: 4.166666666666667%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .rtl .rtl-columns-reverse .col-lg-1,
  .rtl .rtl-columns-reverse .col-lg-10,
  .rtl .rtl-columns-reverse .col-lg-11,
  .rtl .rtl-columns-reverse .col-lg-12,
  .rtl .rtl-columns-reverse .col-lg-2,
  .rtl .rtl-columns-reverse .col-lg-3,
  .rtl .rtl-columns-reverse .col-lg-4,
  .rtl .rtl-columns-reverse .col-lg-5,
  .rtl .rtl-columns-reverse .col-lg-6,
  .rtl .rtl-columns-reverse .col-lg-7,
  .rtl .rtl-columns-reverse .col-lg-8,
  .rtl .rtl-columns-reverse .col-lg-9 {
    float: right;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}
