@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");
@charset "UTF-8";

$primary: #2a3ba4;
$primarylight: #3344ab;
$primary5: #3a4dbd;
